{% extends 'base.html' %}
{% block titleb %}Entries{% endblock %}

{% block content %}

<div>
	<div class="container" style="margin-top: 10px;">
        <div class="row" style="text-align: center;">
            <div class="col-md-8">
            	<p><label class="col-form-label">All entries:</label></p>
            	{% if entries %}
            		{% for e in entries %}
            			<p>
            				<strong>{{e.entry_date}}</strong><br>
            				{{e.entry_text}}
            			</p>
            		{% endfor %}
            	{% else %}
            		Entries list is empty! Write the firts entry!
            	{% endif %}
            </div>

            <div class="col-md-4"><label>New entry:</label>
                <form method="POST" action="save_entry">
                	{% csrf_token %}
                	<textarea class="form-control" name="entry_text" style="margin: 3px;"></textarea>
                	<button class="btn btn-primary" type="submit" style="margin: 3px;">Save</button>
                </form>
            </div>
        </div>
    </div>      
</div>
    
{% endblock %}